<div class="text-center container-fluid">
  <h1>Calapp</h1>
  <h3>Link your Google Calendar and weep at the time you spend in meetings</h3>
</div>
<div>
  <div class="container">
    <div class="row text-center">
      <%= link_to "Authorise your Calendar", redirect_path, class: "button btn btn-primary" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 ">
      <div class="well">
        <h2 class="text-center">List of Calendars</h2>
        <ul>
            <%= link_to "See calendar list", calendars_path, class: "button btn btn-primary" %>
            <% if (defined?($calendars.items)) %>
              <ul>
              <% $calendars.items.each do |calendar| %>
                <li><%= calendar.summary %> (<%= calendar.id %>)</li>
              <% end %>
              </ul>
            <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">List of Events</h2>
        <ul>
            <p>Enter your email</p>

            <!-- To capture their email -->
            <%= form_with model: User.new do |form| %>
              <%= form.text_field :email %>
            <% end %>

            <!-- To make a request for the events -->
            <%= link_to "See events", events_path(:calendar_id => user_email), class: "button btn btn-primary" %>
            <% if (defined?($events.items)) %>
              <ul>
                <% $events.items.each do |event| %>
                  <li><%= event.summary %> (<%= event.id %>)</li>
                <% end %>
              </ul>
            <% end %>

        </ul>
      </div>
    </div>
</div>
